

.fifth-container {
  width: 100%;
  height: auto;
  margin-top: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 0 12px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.fifth-left-container, .fifth-right-container {
  background-color: rgb(245, 245, 247);
  text-align: center;
}

.fifth-right-container {
  margin-left: 12px;
}

.fifth-left-container h1, .fifth-right-container h1 {
  margin-top: 15px;
}

.fifth-left-container .buttons, .fifth-right-container .buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.fifth-left-container .more-btn, .fifth-right-container .more-btn {
  padding: 7px 15px;
  border-radius: 35px;
  font-size: 14px;
  background-color: rgb(0, 113, 227);
  color: white;
  outline: none;
  border: none;
  margin-right: 17px;
}

.fifth-left-container .more-btn:hover, .fifth-right-container .more-btn:hover {
  background-color: rgb(0, 119, 237);
}

.fifth-left-container .buy-btn, .fifth-right-container .buy-btn {
  padding: 7px 15px;
  border-radius: 35px;
  font-size: 14px;
  background: transparent;
  color: rgb(0, 113, 227);
  outline: none;
  border: 1px solid rgb(0, 113, 227);
}

.fifth-left-container .buy-btn:hover, .fifth-right-container .buy-btn:hover {
  background-color: rgb(0, 119, 237);
  color: white;
}

.fifth-left-container .macmini, .fifth-right-container .allmacs {
  width: 65%;
  height: 180px;
  margin-top: 60px;
}

.fifth-left-container h2, .fifth-right-container h2 {
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-bottom: 7px;
  background: linear-gradient(to right, rgb(178, 100, 252), rgb(243, 74, 63));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.fifth-left-container p, .fifth-right-container p {
  color: rgb(110, 110, 115);
}

.fifth-left-container p sup, .fifth-right-container p sup {
  font-size: 7px;
  color: rgb(110, 110, 115);
  font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
  .fifth-container {
    grid-template-columns: 1fr;
    height: auto;
  }

  .fifth-left-container, .fifth-right-container {
    margin: 0 0 12px 0;
  }

  .fifth-left-container .macmini, .fifth-right-container .allmacs {
    width: 80%;
    height: auto;
    margin-top:20px;
  }

  .fifth-left-container h1, .fifth-right-container h1 {
    font-size: 1.5em;
  }

  .fifth-left-container h2, .fifth-right-container h2 {
    font-size: 1em;
  }



  .fifth-left-container p, .fifth-right-container p {
    font-size: 14px;
  }

  .fifth-left-container p sup, .fifth-right-container p sup {
    font-size: 6px;
  }
}

@media (max-width: 480px) {
  .fifth-left-container .macmini, .fifth-right-container .allmacs {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .fifth-left-container h1, .fifth-right-container h1 {
    font-size: 1.2em;
  }

  .fifth-left-container h2, .fifth-right-container h2 {
    font-size: 0.9em;
  }



  .fifth-left-container p, .fifth-right-container p {
    font-size: 12px;
  }

  .fifth-left-container p sup, .fifth-right-container p sup {
    font-size: 5px;
  }
}
