.sliding{
    width:80%;
    height:auto;
    overflow: hidden;
    display: inline-block;
    
}

.sliding img{
    width:80%;
    height:100%;
    object-fit: cover;
    margin:12px auto;
    display: block;
}

