.second-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgb(14, 21, 75) 30%, rgb(96, 112, 189), white);
  padding: 40px 0;
  margin-top: 12px;
}
.second-container h1 {
  color: white;
  text-align: center;
  font-size: 3.2em;
}
.second-container h3 {
  color: white;
  text-align: center;
  font-size: 1.7em;
  font-weight: 500;
  margin-top: 10px;
}
.second-container img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 720px;
  min-height: 280px;
  margin: 0 auto;
}
.second-container .buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.second-container .more-btn {
  padding: 11px 21px;
  border-radius: 35px;
  font-size: 17px;
  background-color: rgb(0, 113, 227);
  color: white;
  outline: none;
  border: none;
  margin-right: 17px;
}
.second-container .more-btn:hover {
  background-color: rgb(0, 119, 237);
}
.second-container .buy-btn {
  padding: 11px 21px;
  border-radius: 35px;
  font-size: 17px;
  background: transparent;
  color: rgb(0, 113, 227);
  outline: none;
  border: 1px solid rgb(0, 113, 227);
}
.second-container .buy-btn:hover {
  background-color: rgb(0, 119, 237);
  color: white;
}
.second-container p {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  margin-top: 25px;
}
.second-container p sup {
  font-size: 8px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .second-container{
    height:90vh;
  }
  .second-container h1 {
    font-size: 2.5em;
  }
  .second-container h3 {
    font-size: 1.3em;
  }
  .second-container img {
    max-width: 100%;
    min-height: 200px;
  }
 
 
  .second-container p {
    font-size: 14px;
  }
  .second-container p sup {
    font-size: 6px;
  }
}
@media (max-width: 480px) {
  .second-container{
    height:60vh;
  }
  .second-container h1 {
    font-size: 2em;
  }
  .second-container h3 {
    font-size: 1.1em;
  }
  .second-container img {
    max-width: 100%;
    min-height: 150px;
  }
 
  .second-container p {
    font-size: 12px;
  }
  .second-container p sup {
    font-size: 5px;
  }
}
